/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  display: block;
  background-color: #333;
  text-align: center;
}

button{
  padding: 5px 10px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  border-color: chartreuse;
  color: blueviolet;
  background-color: aquamarine;
}

h1{
  display: block;
  max-width: 100%;
  color: aliceblue;
}

p{
  max-width: 500px;
  color: bisque;
  margin-left: auto;
  margin-right: auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
